.main__controls {
	display: flex;
	color: white;
	background-color: hsl(230, 100%, 20%);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	height: 3rem;
}
.main__controls__button,
.main__cancel__button {
	flex: 1;
	border: 0;
	background-color: hsl(233, 57%, 37%);
	color: #fff;
	cursor: pointer;
	text-align: center;
	display: flex;
}
.main__controls__button__label {
	flex: 1;
	margin-left: 1rem;
	align-self: center;
	margin: auto;
}
.main__controls__button:hover {
	background-color: hsl(240, 46%, 57%);
}
.main__cancel__button {
	background-color: hsl(0, 100%, 34%);
}
.main__cancel__button:hover {
	background-color: hsl(0, 100%, 44%);
}
.main__controls__icon {
	flex: 2;
	font-size: 36px;
	align-self: center;
}
