.flexbox {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.list__container {
	background-color: hsl(0, 0%, 96%);
	flex: 1;
	min-height: 500px;
}
.list__results__container {
	flex: 2;
	padding: 2rem;
}

.list__results__container {
	padding: 1rem;
}

.main__pictures {
	margin: 0;
	padding: 0;
}
.main__picture {
	max-width: 250px;
}
.main__controls {
	display: flex;
	color: white;
	background-color: hsl(230, 100%, 20%);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	height: 3rem;
}
.main__controls > button {
	flex: 1;
	border: 0;
	background-color: hsl(233, 57%, 37%);
	color: #fff;
	cursor: pointer;
}
.main__controls > button:hover {
	background-color: hsl(240, 46%, 57%);
}
@media screen and (max-width: 980px) {
	.flexbox {
		flex-direction: column;
	}

	.list__container,
	.list__results__container {
		flex: 1;
		padding: 10px;
	}
}
