.main_header,
.main_wrapper {
	text-align: center;
}

.main_wrapper {
	margin-left: 200px;
	padding: 3rem;
	height: 100vh;
	overflow-y: scroll;
}
@media screen and (max-width: 980px) {
	.flexbox {
		flex-direction: column;
	}

	.main_wrapper {
		margin-left: 0;
		padding: 10px;
		padding-top: 50px;
		position: relative;
	}
	.list__container,
	.list__results__container {
		flex: 1;
		padding: 10px;
	}
}
