.logout__controls {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	background-color: hsl(230, 100%, 20%);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	height: 2rem;
}

.logout__controls button {
	flex: 1;
	border: 0;
	background-color: hsl(233, 57%, 37%);
	color: #fff;
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
		0 3px 6px rgba(0, 0, 0, 0.23);
	margin: 0;
	padding: 0.6rem;
}

.logout__controls button:hover {
	background-color: hsl(240, 46%, 57%);
}
