/**
* Sidebar
*/
.sidebar__controls {
	width: 100%;
	margin: 50vh auto;
}

.sidebar__controls {
	width: 100%;
	margin: 50vh auto;
}
.nav__link__list {
	list-style-type: none;
	padding: 0;
	margin: 0.4rem;
}
.nav__link__list li {
	margin: 0.4rem;
	padding: 0.2rem;
	background-color: hsl(233, 57%, 37%);
	text-align: center;
	cursor: pointer;
	box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16),
		0 3px 6px hsla(0, 0%, 0%, 0.23);
}
.nav__link__list > li:hover {
	background-color: hsl(240, 46%, 57%);
}

.nav__link__list a {
	text-decoration: none;
	font-size: smaller;
	font-weight: 400;
	color: white;
}

@media screen and (max-width: 980px) {
	.flexbox {
		flex-direction: column;
	}
	.main_header {
		width: 100%;
		height: 100px;
		position: relative;
	}
	.main_wrapper {
		margin-left: 0;
		height: 100%;
		padding: 10px;
	}

	.list__container,
	.list__results__container {
		flex: 1;
		padding: 10px;
	}

	.sidebar__controls {
		display: flex;
		margin: 1rem auto;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.nav__link__list {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
	.nav__link__list li {
		padding: 0.4rem;
		padding-bottom: 0.8rem;
		flex: 1;
	}
	.nav__link__list a {
		font-size: 0.8rem;
		margin: 0;
	}
}

@media screen and (max-width: 430px) {
	.nav__link__list a {
		font-size: 0.69rem;
	}
	.nav__link__list li {
		padding: 0.2rem;
		padding-bottom: 0.7rem;
		flex: 1;
	}
}
@media screen and (max-width: 350px) {
	.nav__link__list a {
		font-size: 0.59rem;
	}
	.nav__link__list li {
		padding-bottom: 0.9rem;
		flex: 1;
	}
}
